target/
*.class
*.jar
*.war
*.ear

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.env
.env.*
application-secret.properties

.idea/
.vscode/
*.iml

logs/
*.log
.vscode/
**/.vscode/
src/main/resources/application-local.properties